[submodule "FE3H-Text-Simulator"]
	path = FE3H-Text-Simulator
	url = https://github.com/bqio/FE3H-Text-Simulator.git
[submodule "movie-simple-app"]
	path = movie-simple-app
	url = https://github.com/bqio/movie-simple-app
[submodule "nxdb"]
	path = nxdb
	url = https://github.com/bqio/nxdb.git
[submodule "unicode"]
	path = unicode
	url = https://github.com/bqio/unicode.git
[submodule "steamdb"]
	path = steamdb
	url = https://github.com/bqio/steamdb.git
[submodule "pyio"]
	path = pyio
	url = https://github.com/bqio/pyio.git
[submodule "webstuff"]
	path = webstuff
	url = https://github.com/bqio/webstuff.git
