@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-color: #131313;
  --light-dark-color: #303030;
  --gray-color: #cdcdcd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 4rem 6rem 2rem 6rem;
  background-color: var(--dark-color);
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 992px) {
  body {
    padding: 4rem 1rem;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--light-dark-color);
  color: var(--gray-color);
  box-shadow: 1px 1px 3px 0px var(--black-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  color: var(--white-color);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.card-image {
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0px var(--black-color);
}

.card-title {
  font-size: 1.4rem;
}

.card-date {
  font-size: 0.7rem;
  text-align: right;
}

.card div {
  margin-bottom: 1rem;
}

.card div:last-child {
  margin-bottom: 0;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.avatar-title {
  color: var(--gray-color);
  font-size: 1.5rem;
}

[v-cloak] {
  display: none;
}
